In [3]:
import pandas as pd
from datetime import datetime
import numpy as np
import matplotlib as plt

In [6]:
df = pd.read_csv("Updating_Consulate Posts.csv", index_col=0)
df

,anger,comments,count_comments,created_time,full_picture,id,likes,message,message_tags,permalink_url,share,status_type
0,NaN,[],NaN,2021-04-22T01:45:35+0000,https://external.fsgn5-7.fna.fbcdn.net/safe_im...,165419643537532_3910631939016265,12.0,üåéüå≥ H√£y tham gia th·ª≠ th√°ch v·ªõi ch√∫ng t√¥i qua c√°...,[],https://www.facebook.com/165419643537532/posts...,5.0,shared_story
1,NaN,[{'message': 'The US should ban single-use pla...,11.0,2021-04-21T09:14:21+0000,https://external.fsgn5-7.fna.fbcdn.net/safe_im...,165419643537532_3907208106025315,187.0,"#B·∫°nc√≥bi·∫øt Hoa K·ª≥ ƒë·∫ßu t∆∞ kho·∫£ng 2,5 t·ª∑ ƒë√¥ ƒë·ªÉ g...","[{'id': '175644755921764', 'name': '#B·∫°nc√≥bi·∫øt...",https://www.facebook.com/165419643537532/posts...,12.0,shared_story
2,1.0,"[{'message': 'High risk high return, really ho...",3.0,2021-04-21T03:08:54+0000,https://external.fsgn5-7.fna.fbcdn.net/safe_im...,165419643537532_3910084812404311,125.0,üë©üèª‚Äçüéìüìöüáªüá≥ H√£y c√πng t√¨m hi·ªÉu v·ªÅ tr·∫£i nghi·ªám c·ªßa b...,[],https://www.facebook.com/165419643537532/posts...,11.0,shared_story
3,1.0,"[{'message': '', 'id': '3910151185731007_39111...",9.0,2021-04-20T13:21:00+0000,https://scontent.fsgn5-3.fna.fbcdn.net/v/t1.64...,165419643537532_3910151185731007,156.0,"üá∫üá∏ Hoa K·ª≥ ƒëang h·ª£p t√°c v·ªõi ·∫§n ƒê·ªô üáÆüá≥, √öc üá¶üá∫ v√† ...",[],https://www.facebook.com/165419643537532/posts...,14.0,added_photos
4,1.0,[{'message': 'Thank you very much for joining ...,33.0,2021-04-20T10:28:50+0000,https://scontent.fsgn5-7.fna.fbcdn.net/v/t15.1...,165419643537532_3970213129739105,191.0,What is it like to be Asian in America? What c...,NaN,https://www.facebook.com/USConsulateHCMC/video...,18.0,added_video
...,...,...,...,...,...,...,...,...,...,...,...,...
6574,NaN,[{'message': 'Thnks The American Centre for ho...,NaN,2011-10-03T08:53:12+0000,https://scontent.fsgn5-6.fna.fbcdn.net/v/t1.18...,165419643537532_176095189136644,NaN,"On September 23, to mark a World Heart Day and...",NaN,https://www.facebook.com/USConsulateHCMC/photo...,NaN,added_photos
6575,NaN,"[{'message': 'Dear Chi Linh and all,', 'id': '...",NaN,2011-09-30T15:05:30+0000,https://scontent.fsgn5-5.fna.fbcdn.net/v/t1.18...,165419643537532_175001792579317,NaN,NaN,NaN,https://www.facebook.com/USConsulateHCMC/photo...,NaN,added_photos
6576,NaN,"[{'message': 'Dear Chi Linh and all,', 'id': '...",NaN,2011-09-30T06:29:49+0000,https://scontent.fsgn5-5.fna.fbcdn.net/v/t1.18...,165419643537532_174882175924612,NaN,NaN,NaN,https://www.facebook.com/USConsulateHCMC/photo...,NaN,added_photos
6577,NaN,[],NaN,2011-09-28T03:15:16+0000,NaN,165419643537532_174031516009678,8.0,The American Center - Grand Opening September ...,NaN,https://www.facebook.com/165419643537532/posts...,NaN,mobile_status_update
6578,NaN,"[{'message': 'Are you opened on Saturday?', 'i...",NaN,2011-09-14T12:20:12+0000,https://scontent.fsgn5-5.fna.fbcdn.net/v/t1.18...,165419643537532_168350943244402,NaN,NaN,NaN,https://www.facebook.com/USConsulateHCMC/photo...,NaN,added_photos

In [17]:
pd.set_option('display.max_columns', None)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6579 entries, 0 to 6578
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   anger           456 non-null    float64
 1   comments        6579 non-null   object
 2   count_comments  3848 non-null   float64
 3   created_time    6579 non-null   object
 4   full_picture    5866 non-null   object
 5   id              6579 non-null   object
 6   likes           4634 non-null   float64
 7   message         5556 non-null   object
 8   message_tags    3417 non-null   object
 9   permalink_url   6579 non-null   object
 10  share           4798 non-null   float64
 11  status_type     6558 non-null   object
dtypes: float64(4), object(8)
memory usage: 668.2+ KB

In [8]:
df.describe()

            anger  count_comments         likes        share
count  456.000000     3848.000000   4634.000000  4798.000000
mean     9.561404       35.844335    280.048338    27.631513
std     56.392313      128.518648    864.253337    78.978960
min      1.000000        1.000000      1.000000     1.000000
25%      1.000000        3.000000     43.000000     4.000000
50%      1.000000        9.000000    101.000000    10.000000
75%      2.000000       26.000000    240.000000    23.000000
max    817.000000     3459.000000  18810.000000  1925.000000

In [19]:
df.groupby("status_type").count()

,anger,comments,count_comments,created_time,full_picture,id,likes,message,message_tags,permalink_url,share
status_type,,,,,,,,,,,
added_photos,277,3189,1835,3189,3189,3189,2020,3115,2003,3189,2888
added_video,107,390,379,390,390,390,387,378,197,390,387
created_event,2,805,23,805,741,805,37,0,0,805,0
mobile_status_update,9,468,403,468,103,468,467,438,126,468,306
shared_story,61,1706,1192,1706,1443,1706,1702,1625,1091,1706,1210