In [1]:
import numpy as np
import pandas as pd

In [5]:
index = pd.date_range("1/2/2000", periods = 8)
s = pd.Series(np.random.randn(5), index = ["a", "b", "c", "d", "e"])
df = pd.DataFrame(np.random.randn(8, 3), index=index, columns=["A", "B", "C"])

In [6]:
longseries = pd.Series(np.random.randn(1000))
longseries.head()

0    0.855365
1    0.877925
2    0.733342
3    0.313274
4   -1.184455
dtype: float64

In [7]:
longseries.tail(3)

997    0.556690
998    1.151535
999    2.065274
dtype: float64

In [17]:
df

                   A         B         C
2000-01-02  3.027594 -1.499410  0.276869
2000-01-03 -1.244363 -0.179635  0.094280
2000-01-04 -2.251898  1.445338  0.262332
2000-01-05  0.330909 -0.058982 -1.837619
2000-01-06 -1.418626  1.417735  1.323516
2000-01-07  0.685073 -1.005804  0.272131
2000-01-08 -0.521153 -0.332043 -0.915850
2000-01-09 -1.184693  0.618441 -1.468063

In [29]:
df[:2]

                   A         B         C
2000-01-02  3.027594 -1.499410  0.276869
2000-01-03 -1.244363 -0.179635  0.094280

In [31]:
df.columns = [x.lower() for x in df.columns]

In [33]:
df

                   a         b         c
2000-01-02  3.027594 -1.499410  0.276869
2000-01-03 -1.244363 -0.179635  0.094280
2000-01-04 -2.251898  1.445338  0.262332
2000-01-05  0.330909 -0.058982 -1.837619
2000-01-06 -1.418626  1.417735  1.323516
2000-01-07  0.685073 -1.005804  0.272131
2000-01-08 -0.521153 -0.332043 -0.915850
2000-01-09 -1.184693  0.618441 -1.468063

In [35]:
s.array

<PandasArray>
[  0.4796498788113008, -0.15802450453329142, 0.060527924828146895,
 -0.42113943472340626, -0.48407249920528994]
Length: 5, dtype: float64

In [36]:
s.index.array

<PandasArray>
['a', 'b', 'c', 'd', 'e']
Length: 5, dtype: object

In [38]:
s.to_numpy()

array([ 0.47964988, -0.1580245 ,  0.06052792, -0.42113943, -0.4840725 ])